# Ignorar configuración y scripts de Expo/React Native
mobile/app.json linguist-generated
mobile/eslint.config.js linguist-generated
mobile/scripts/** linguist-generated

# Ignorar componentes y hooks por defecto del template de Expo
mobile/components/hello-wave.tsx linguist-generated
mobile/components/parallax-scroll-view.tsx linguist-generated
mobile/components/external-link.tsx linguist-generated
mobile/components/haptic-tab.tsx linguist-generated
mobile/components/ui/** linguist-generated
mobile/components/themed-*.tsx linguist-generated

# Ignorar hooks y constantes por defecto
mobile/hooks/use-color-scheme*.ts linguist-generated
mobile/hooks/use-theme-color.ts linguist-generated
mobile/constants/theme.ts linguist-generated

# Ignorar los assets (imágenes, fuentes, etc.)
mobile/assets/** linguist-generated
