# Lock files
mobile/package-lock.json linguist-generated=true

# Expo/React Native config y scripts
mobile/app.json linguist-generated=true
mobile/eslint.config.js linguist-generated=true
mobile/scripts/** linguist-generated=true

# Componentes y hooks del template de Expo
mobile/components/hello-wave.tsx linguist-generated=true
mobile/components/parallax-scroll-view.tsx linguist-generated=true
mobile/components/external-link.tsx linguist-generated=true
mobile/components/haptic-tab.tsx linguist-generated=true
mobile/components/ui/** linguist-generated=true
mobile/components/themed-*.tsx linguist-generated=true
mobile/hooks/use-color-scheme*.ts linguist-generated=true
mobile/hooks/use-theme-color.ts linguist-generated=true
mobile/constants/theme.ts linguist-generated=true

# Assets
mobile/assets/** linguist-generated=true
